.content-block
  %p
    Your PIN code has been confirmed and your device will be recognised in the
    future

:javascript
  function storeToken() {
    var token = "#{@token}";
    if( token != null && token != "" ) {
      localStorage.token = token
    }
  };

  //$(document).ready(storeToken());
  //$(document).on('page:load', storeToken());
  document.addEventListener("page:load", function(event){storeToken();} );
  document.addEventListener("DOMContentLoaded", function(event){storeToken();} );


= react_component 'ShareCodeButton'
