.content-block
  %p
    %p Content about how you need to enter a PIN to continue

= form_tag '#', id: 'pin_form', onsubmit: 'submitPin()' do
  .list-block
    %ul
      %li
        .item-content
          .item-inner
            .item-title.label PIN Code
            .item-input
              = password_field_tag 'pin', nil, placeholder: 'Enter your PIN code', type: :numeric, pattern: '[0-9]*'

  .list-block
    %ul
      %li
        -# I realise click handers are obtrusive
        %a.item-link.list-button{onclick:'submitPin()'} Continue

:javascript
  function submitPin(){
  console.log('xxx');
    if( event != null ) {
      event.preventDefault();
    }
    var pin = $('#pin')[0].value;

    if( pin != null
        && /^[0-9]+$/.test(pin)
        && pin.length >= 4 )
    {
      new Fingerprint2().get( function(result,components) {
        post( '/authentications/check', {
          pin: pin,
          fingerprint: result,
          token: localStorage.token,
          driverNumber: JSON.parse(localStorage.licenceData).licence.driverNumber
        });
  		});
    } else {
      myApp.alert( "Your PIN must be a number and at least 4 digits long");
    }
  };
