// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 0;
  margin: 40px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 35px;
  background: rgb(254, 220, 240);
  color: rgb(0, 0, 0);
}

#headerFields {
  img{
    height: 100px;
    float: left;
    padding-right: 30px;
  }

  h1{
    padding-top: 20px;
  }
}

.passField{
  display: inline-block;
  text-align: justify;
  label{
    font-size: 25px;
    display: block;
    text-transform: uppercase;
  }
  span{
    font-size: 50px;
    display: block;
  }
}

#primaryFields{
  padding-top: 50px;
  font-size: 60px;
  img{
    float: right;
    height: 250px;
    background-color: #fff;
    padding: 15px;
  }
  .passField{
    span {
      font-size: 70px;
    }
  }
}

#secondaryFields{
  clear: both;
  padding-top: 50px;
  .passField{
    width: 33%;
  }
}
