<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wallet stylesheet</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'cards', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'cards', 'data-turbolinks-track' => true %>

    <%= yield :additional_head_content %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
